html.H1 {
    text-align: center;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.dash-radioitems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dash-radioitem {
    margin-right: 20px;
}

.dash-radioitem:last-child {
    margin-right: 0;
}

.dash-radioitem label {
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

.dash-radioitem input[type="radio"] {
    display: none;
}

.dash-radioitem input[type="radio"] + label {
    background-color: #f0f0f0;
    border-radius: 20px;
}

.dash-radioitem input[type="radio"]:checked + label {
    background-color: #2b2d42;
    color: #ffffff;
}

.dash-graph {
    height: 500px;
    margin-top: 40px;
}

.dash-datepickerrange {
    margin-top: 40px;
}

.dash-button {
    background-color: #2b2d42;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.dash-button:hover {
    background-color: #ffffff;
    color: #2b2d42;
    border: 2px solid #2b2d42;
    cursor: pointer;
}

#components-graph {
    margin-top: 40px;
    margin-bottom: 40px;
}

.explanation-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.explanation-header {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

.explanation-text {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
}